body {
  background-color: black;
  background-image: url(matrix2.gif);
  background-size: cover;
  color: cyan;
}

p {
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  position: inline-block;
}

.App {
  text-align: center;
}

